/* BirthdayCake.css */

.cake-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffcad4;
  padding: 20px;
}

.cake {
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: #ffe5d9;
  border-radius: 50% 50% 0 0;
}

.cake-base {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #9d8189;
}

.candle {
  position: absolute;
  width: 4px;
  height: 61px;
  background-color: #d8e2dc;
  border-radius: 2px;
  transition: all 1s ease;
  box-shadow: 0px 61px 6px rgba(0, 0, 0, 0.3);
}

.candle .flame {
  position: absolute;
  top: -6px;
  width: 6px;
  height: 6px;
  background-color: yellow;
  border-radius: 50%;
  transition: all 1s ease;
}

.candle.blown .flame {
  background-color: transparent;
  transform: scale(0);
}

.blow-text {
  color: black;
  position: absolute;
  bottom: 25%;
  font-size: 30px;
}

@media (max-width: 600px) {
  .cake {
    width: 200px;
    height: 150px;
  }
  .cake-base {
    height: 20px;
  }
}
